<!-- <p>home works!</p> -->

<body>

    <div class="header">
        <h1>My Assignments</h1>
    </div>
    <!-- <div class="row"> -->
    <div class="main">
        <h2>Product Module</h2>
        <ul>
            <li>
                <font size="3">In this we are using some list of products</font>
            </li>
            <li>
                <font size="3">Search and Sort was done using Search and Sort pipe</font>
            </li>
            <li>Added Custom and predefined Directives</li>
        </ul>
        <br>
        <h2>Technologies</h2>
        <ul>
            <li>
                <font size="3">In this we are using Java and Web as Technologies</font>
            </li>
            <li>
                <font size="3">Search and Sort was done using Search and Sort pipe</font>
            </li>
            <li>Added Custom and predefined Directives</li>
        </ul>
    </div>
    <!-- </div> -->

</body>